body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  margin: 0;
  font-family: "IBMPlexSans", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 150px;
}

nav h3 {
  margin: 0;
  margin-bottom: 10px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 16px;
}

.nav-link {
  font-weight: bold;
  font-size: 1em;
  display: block;
  padding: 4px 0;
}

.nav-item ul {
  list-style: none;
  padding: 0;
  margin: 4px 0 0 12px;
}

.heading-link {
  padding: 10px;
  font-size: 0.9rem;
  color: darkgray;
}

.heading-link:hover {
  color: coral;
}

.content {
  padding: 10px;
}

a {
  text-decoration: none;
  color: limegreen;
}

a:hover {
  color: coral;
}

pre {
  background-color: #0f0f0f;
  padding: 10px;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9em;
}
