body {
  background-color: black;
  color: white;
  margin: auto;
  font-family: "IBMPlexSans";
}

.container {
  display: flex;
  flex-direction: row;
}

.content {
  padding: 20px;
}

a {
  text-decoration: none;
  color: limegreen;
}

a:hover {
  color: coral;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 2px solid slategray;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  font-weight: bold;
  font-size: 1.1em;
}

.toc {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid slategray;
}

.heading-list {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.heading-item {
  margin: 5px 0;
}

.heading-link {
  font-size: 0.9em;
  font-weight: normal;
}

pre {
  background-color: #0f0f0f;
  padding: 10px;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9em;
}
