<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="content">
            {{{content}}}
            most recent: {{#most_recent}} {{title}} {{/most_recent}}
            <div class="posts">
                <h1>Posts</h1>
                {{#posts}}
                <article>
                    <a href="{{url}}">
                        <h1>{{title}}</h1>
                    </a>
                    <p>{{description}}</p>

                <article>
                    {{/posts}}
                    {{^posts}}
                    <p>
                        No posts yet :(
                    </p>
                {{/posts}}
            </div>
        </div>
    </body>
</html>
