<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{ site_url }}favicon.ico">
        <title>{{ title }}</title>

    </head>
    <body>
        <div class="container">
            <nav>
                <a href="{{ site_url }}"><h3>Home</h3></a>
                {% for post in posts %}
                <a class="nav-link" href="{{ post.url }}">
                    {{ post.title }}
                </a>
                {% endfor %}
            </nav>
            <div class="content">
                {{ content | safe }}
            </div>
        </div>
    </body>
</html>
