<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="header">
            {{title}}
        </div>
        <div class="content">
            {{{content}}}
            <div class="posts">
                {{#posts}}
                <article>
                    <a href="{{url}}">
                        <h1>{{title}}</h1>
                    </a>
                    <p>{{description}}</p>

                    <article>
                        {{/posts}}\
                        {{^posts}}
                        <p>
                            No posts yet :(
                        </p>
                        {{/posts}}
            </div>
        </div>
    </body>
</html>
